.container{
    display:flex;
    margin:5% auto;
    width:60%;
    box-shadow: rgba(110, 100, 100, 0.276)0.1em 0.1em 0.1em 0.1em ,rgba(110, 100, 100, 0.376) 0.3em 0.3em 0.3em 0.3em,rgba(110, 100, 100, 0.476)0.5em 0.5em 0.5em 0.5em,rgba(110, 100, 100, 0.576) 0.7em 0.7em 0.7em 0.7em;
}
img{
    width: 90%;
    height: 90%;
    border-radius: 8em;


}
.first{
    background-color: rgb(110, 100, 100);
    padding: 2em;
    color:aliceblue;
    width:40%;

}
.second{
    background-color: rgba(110, 100, 100, 0.276);
    padding: 2em;
    color: rgb(110, 100, 100);
    
    
}
.intro{
    font-size: 4em;
    padding: 0.8em;
    margin:0px auto;
    
}
h4,h2{
    text-decoration: underline;
}
